*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    color: #121212;
    background-color: #fff;
    line-height: 1.6em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    header{
        background-color: #072146;
        color: #fff;
        padding-bottom: 15px;
    }
}
a{
    text-decoration: none;
}
.caratula{
    background-blend-mode: multiply;
    background-image: url('../images/panoramicacordoba.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    background-color: #00000050;
    h1{
        color: #e5eec1;
        font-size: 2.5rem;
        text-align: center;
        line-height: 100px;
        letter-spacing: 5px;
    }
}
form{
    background-color: #004481;
    padding: 20px;
}
@media(min-width:500px){
    .caratula{
        h1{
            font-size: 60px;
            line-height: 150px;
            letter-spacing: 15px;
        }
    }
}